@import ".config/wofi/colors/everforest.css";

* {
    font-family: JetBrainsMono Nerd Font, FontAwesome;
    font-size: 17px;
    border-radius: 10px;
    border: none;
}

window {
    margin: 0px;
    background-color: @fg;
    color: @bg0;

	border-radius: 15px;

    border-bottom-width: 5px;
    border-bottom-color: #7d6a40;
    border-bottom-style: solid;
}

#outer-box {
    margin: 0px;
    border-radius: 0px;
}

#input {
    background-color: @green;
    color: @bg0;

    margin: 15px;
    padding: 10px;
    border: none;

    border-bottom-width: 5px;
    border-bottom-color: #556a35;
    border-bottom-style: solid;
}

#inner-box {
    margin: 20px;
    padding: 0px;
    border-radius: 0px;
    background-color: #00000000;
}

#scroll {
    margin: 0px;
    padding: 0px;
    border: none;
}

#text {
    margin-left: 15px;
    margin-right: 15px;
}

#entry {
    border: none;
    padding: 10px;
    margin: 0px;
}

#entry:selected {
    background-color: @bg0;
    color: @fg;

    border-bottom-width: 5px;
    border-bottom-color: #161a1d;
    border-bottom-style: solid;
}